.burgerMenuIcon {
    width: 34px;
    height: 34px;
}

.header {
    padding: 15px 50px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 34px;
    font-weight: 700;
}